html, body
{
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

#canvas
{
  width: 100%;
  height: calc(100% - 100px);
  background: #111;
}

.footer {
    background-color: lightpink;
    width: 100%;
    height: 50px;
}

.header {
    background-color: lightsteelblue;
    width: 100%;
    height: 50px;
}